.card-header{
    display: flex;
}
.card-header ion-card-title{
    margin-top: 2px;
    font-size: 15px;
}
.card-content{
    padding: 3px;
}
.text-deco{
    text-decoration: none;
}
.text-color{
    color: black;
}
.like {
    display: grid;
    grid-template-columns: repeat(3,auto);
}
hr{
    border-top: 1px solid rgba(0, 0, 0, 0.4);
}
.like *{
    height: 20px;
}
.like1{
    display: grid;
    grid-template-columns: repeat(2,auto);
}
.popover{
    --min-width:95%;
    --max-height:70%;

}
.close-model{
    width: 100%;
    float: right;
    color: rgba(0, 0, 200, 0.7);
    background-color: transparent;
    font-size: 15px;
}
.comment{
    margin-top: 0px;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
}
.text-button{
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    text-align: justify;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    height: 25px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}
.scroll {
    overflow: hidden;
  overflow-y: scroll;
  }
  .actionkey{
      width: 100%;
      right: 0px;
      height: 30px;
      width: 1fr;
      font-size: 25px;
      text-align: end;
  }
.action-button{
    background: transparent;
    border: none;
    font-size: 20px;
}
 